# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
venv/
.env/
.venv/

# DL stuff
checkpoints/
wandb/
out-img/
log/
*.pt
*.pth
*.onnx
*.pkl
*.npz

# Data (chỉnh nếu muốn giữ 1 phần)
data/
Yolo_dataset/
*.mp4
*.avi

# Jupyter
.ipynb_checkpoints/
*.ipynb
